.anchortag {
	text-decoration: none;
	margin-left: 7px;
}
.imagecontrol {
	height: 50px;
	width: 50px;
	cursor: pointer;
	border-radius: 50%;
}

.break {
	width: 92%;
	margin: auto;
	margin-left: 50px;
}
