.search-container {
	float: right;
}

input[type="text"] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 19px;
	height: 47px;
	width: 47px;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.search-container {
		float: none;
	}
	input[type="text"],
	.search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	input[type="text"] {
		border: 1px solid #ccc;
	}
}

.courselinks {
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	color: rgb(230, 230, 230);
	line-height: normal;
	font-weight: 600;
}
