.loginform {
	border: 1px solid white;
	width: 640px;
	height: 350px;
	margin: auto;
	margin-top: 50px;
}
.box {
	width: 100%;
	height: 100px;
	margin: auto;
	border: 1px solid white;
}
.label {
	text-align: left;
	color: rgb(230, 230, 230);
	line-height: 24px;
	text-size-adjust: 100%;
	cursor: default;
	display: inline block;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	letter-spacing: normal;
}

.inputbox {
	height: 26px;
	width: 95%;
	margin: auto;
}
.inputcontainer {
	height: 36px;
	width: 96%;
	margin-top: -10px;
	border: 1px solid red;
}
