.anchortag {
	text-decoration: none;
	margin-left: 7px;
	margin-top: 30px;
}

.iconbtn {
	height: 100px;
	width: 450px;
	display: flex;
	/* border: 1px solid white; */
}

hr {
	width: 70%;
	margin: auto;
	margin-left: 200px;
}
