.links {
	text-decoration: none;
	color: grey;
}
.links:hover {
	filter: brightness(170%);
}
.Navbody {
	height: 80px;
	background-color: rgb(61, 19, 12);
}
@media screen and (max-width: 780px) {
	.Navbody {
		height: 112px;
	}
}
@media screen and (max-width: 600px) {
	.Navbody {
		height: 112px;
	}
}

.authname {
	text-decoration: none;
	font-size: 18px;
	color: rgb(230, 230, 230);
}
.authname2 {
	text-decoration: none;
	font-size: 14px;
	color: rgb(230, 230, 230);
}

.buttonlink {
	background-color: rgb(192, 45, 40);
	font-size: 14px;
	color: rgb(230, 230, 230);
	text-decoration: none;
	margin-top: 20px;
}
